{% extend base.html.twig %}
<h1>Your lucky number is {{ number }}</h1>

{% blockbody %}
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquid commodi dicta dolor dolorum error ex fuga labore laborum maiores neque numquam odio perferendis, praesentium quibusdam, saepe sequi soluta.</div>

{% endblock %}