<footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Site immobilier</h3>
                        <p>Développé entièrement par Denis Chanet. J'ai créé ce site en autonomie. Avec le framework Symfony 4, Php, Twig, JQuery, Ajax...
                            Actuellement en cour de programmation...
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li>
                                <i class=""></i>
                                <a href="{{ path('index') }}">Home</a>
                            </li>
                            <li>
                                <i class="ion-ios-arrow-right"></i>
                                <a href="{{ path('about') }}">About us</a>
                            </li>
                            <li>
                                <i class="ion-ios-arrow-right"></i>
                                {#<a href="{{ path('product.index') }}">Produits</a>#}
                                <a href="#">Produits</a>
                            </li>
                            <li>
                                <i class="ion-ios-arrow-right"></i>
                                <a href="#">Terms of service</a>
                            </li>
                            <li>
                                <i class="ion-ios-arrow-right"></i>
                                <a href="#">Privacy policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Nous contacter</h4>
                        <p>
                            Avenue de Verdun
                            <br>
                            Limeil-Brevannes
                            <br>
                            France
                            <br>
                            <strong>Phone:</strong>
                            06.00.00.00.00
                            <br>
                            <strong>Email:</strong>
                            agence@example.com
                            <br>
                        </p>
                        <div class="social-links">
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a class="linkedin" href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae repellat sint ad amet expedita, impedit assumenda veritatis modi eveniet alias, pariatur a aut nemo quam magni et illum ipsa accusantium.</p>
                        <form action="" method="">
                            <input type="email" name="email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-copyright">
                <div class="copyright">&copy; Copyright <strong>Agence de Limeil</strong>

                </div>
                <div class="credits">
                    Designed by
                    <a href="#">Denis Chanet</a>
                </div>
            </div>
            <a class="back-to-top" href="#" style="display: inline;">
                <img id="back-to-top" src="" alt="back-to-top"></a>
            <!--Linkedin-->
            <button type="button" class="btn btn-li"><i class="fab fa-linkedin-in"></i></button>

        </div>
        <a href=""></a>

</footer>